/* Browser Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    --clr-main-light: hsl(0, 0%, 100%);

    --main-bg-color: hsl(212, 45%, 89%);
    --text-color-300: hsl(216, 15%, 48%);
    --text-color-900: hsl(218, 44%, 22%);
}
/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* CSS Reset */
body {
    margin: 0;
    padding:0;
    background-color: var(--main-bg-color);
    font-family: "Outfit", sans-serif;
}

/* CSS Styles */

.card img {
    max-width: 288px;
    height: 288px;
    border-radius: 0.625rem;
}

.wrapper {
    display: grid;
    width: 100vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.card {
    display: grid;
    max-width: 320px;
    min-width: 320px;
    max-height: 499px;
    min-height: 499px;
    padding: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 1.25rem;
    background-color: var(--clr-main-light);
}

.text {
    text-align: center;
    align-self: center;
    margin: 0 12px;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color-900);
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--text-color-300);
}

